%h2= @task.name
- if @task.chain.backups.empty?
  (Noch keine Backups)
- else
  %ul
    - @task.chain.backups.each do |backup|
      %li
        %a{ href: "/tasks/#{@task.name}/backups/#{backup.id}" }
          == Backup #{backup.id} - #{timeago(backup.timestamp)}
          == #{backup.files_transferred} geänderte Dateien